{{ define "main" }}
  <div class="w-full  flex flex-col justify-between" id="{{.Layout}}">

      {{ partial "navbar.html" . }}
        

    
  
  </div>
  <div class="justify-center items-center  w-full flex flex-col " id="fff">
       
     <h2 class="font-serif tracking-wide text-white font-bold text-2xl xl:text-7xl my-10 uppercase mb-4">{{ .Title }}</h2>
            <div class="font-light text-white text-base xl:text-xl mb-6 text-left lg:text-center">
                
            </div>   
  </div>

  <div class="flex flex-col items-center" >
    <img src="{{.Params.img}}" alt="" class="my-16 w-3/4 ">
  </div>

  
{{ end }}