{{ define "main" }}
	<div class="w-full shadow min-h-screen flex flex-col justify-between" id="{{.Layout}}">
		<div class=" h-full">
	    {{ partial "navbar.html" . }}
		    <div class="flex xl:flex-row flex-col justify-center pt-12">
		    	<div class=" xl:w-1/2 w-full px-4 sm:px:0">
	        		<h1 class="font-serif text-white xl:text-7xl text-2xl uppercase text-left">{{ .Title }}</h1>
	        	</div>
	        	<div class="xl:w-1/2"></div>
	        </div>
	        <div class="flex xl:flex-row flex-col justify-center pt-12">
	        	<div class="self-center xl:w-1/2 w-full px-4 sm:px:0 xl:pl-5 pb-6 "><img src="{{ .Params.image | absURL }}" alt=""></div>
	        	<div class="self-center xl:w-1/2 w-full px-4 text-lg xl:text-3xl sm:px:0 xl:pr-5">{{ .Params.desc_main }}</div>
	        </div>
		</div>
	</div>
    
	{{ partial "section/right_img1.html" (dict "title" (i18n "product_2_title")  "desc" (i18n "product_2_desc") "img" (i18n "product_2_image") "image" (i18n "product_2_image2"))  }}
    
	{{ partial "section/left_img1.html" (dict "title" (i18n "product_3_title")  "desc" (i18n "product_3_desc") "img" (i18n "product_3_image") "image" (i18n "product_3_image2"))  }}

	{{ partial "section/right_img1.html" (dict "title" (i18n "product_4_title")  "desc" (i18n "product_4_desc") "img" (i18n "product_4_image") "image" (i18n "product_4_image2"))  }}

	{{ partial "section/left_img1.html" (dict "title" (i18n "product_5_title")  "desc" (i18n "product_3_desc") "img" (i18n "product_5_image") "image" (i18n "product_5_image2"))  }}

	{{ partial "section/right_img2.html" (dict "title" (i18n "product_6_title")  "desc" (i18n "product_6_desc") "img" (i18n "product_6_image") "image" (i18n "product_6_image2"))  }}
{{ end }}