<div class="shadow xl:shadow-desktop bg-cover w-full min-h-screen flex flex-col justify-center items-center py-12" style='background-image: url("./img/{{ .img }}");'>
    <div class="flex xl:flex-row flex-col justify-center pt-12 min-w-full">
    	<div class="self-center w-full px-4 sm:px:0 xl:pr-5 xl:w-7/10 px-4 sm:px:0 justify-items-end">
    		<h1 class="font-serif text-white xl:text-7xl text-2xl uppercase text-left">{{ .title }}</h1>
    	</div>
    	<div class="self-center w-full px-4 sm:px:0 xl:pr-5 w-full px-4 sm:px:0 xl:w-3/10"></div>
    </div>
    <div class="flex xl:flex-row flex-col justify-center pt-12">
    	<div class="self-center xl:w-1/2 w-full px-4 sm:px:0 xl:pr-5 pb-6"><img src="{{ .image | absURL }}" alt=""></div>
    	<div class="self-center xl:w-1/2 w-full text-base xl:text-3xl px-4 sm:px:0 xl:pl-5 ">{{ .desc }}</div>
    </div>
</div>