<footer class="w-full bg-gray-400 flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 ">
    <div class="text-center pr-0 sm:pr-8 flex flex-row">
        {{ range .Site.Params.social }}
            <div class="w-1/4">
                <a class="text-black px-4 text-3xl no-underline" href="{{ .url }}" target="_blank" rel="_noopener"><i class="{{ .icon }}"></i></a>
            </div>
        {{ end }}
    </div>
    <div class="w-full">
	    <span class="pt-1 text-left block text-black text-xl font-bold  align-bottom float-right">
	        <img class="align-end" src="/img/footer.svg" alt="">
	    </span>
	  
	</div>
</footer>

<!-- <div class="">
    <a id="btt" class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-pink-600 hover:bg-gray-200 hover:text-pink-600 hover:border-browngray no-underline px-6 py-1 bg-pink-600 shadow-md" href="{{ if .IsHome }}#top{{ else }}{{ .Permalink }}#top{{ end }}" title="Back to Top">UP</a>
</div> -->

<!-- "Follow" Tooltip template -->
<style>
    .tippy-tooltip {
        background-color: #656D78;
        color: #323A45;
        opacity: 0.85;
    }

    .tippy-tooltip[data-animatefill] {
        background-color: transparent;
    }

    .tippy-tooltip .tippy-backdrop {
        background-color: #656D78;
        opacity: 0.5;
    }

    .tippy-tooltip[x-placement^='bottom'] .tippy-arrow {
        border-bottom-color: #656D78;
    }
</style>
<template id="followTip">
	{{ range $.Site.Home.AllTranslations }}
        <a href="{{ .Permalink }}/{{.Layout}}"  class="inline-block text-gray-200 text-sm  shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1" rel="noopener">{{ .Language.LanguageName }}</a>
    {{ end }}
</template>