#ddd{
  background: linear-gradient(90deg, rgba(84,46,138,0.4) 0%, rgba(87,199,223,0.4) 94.15%, rgba(87,199,223,0.4) 100%), url("../img/events/a1.png") no-repeat center 25% fixed;

  background-size: ;  
  position: relative;
  min-height: 500px;
}

#ddd1{
  background: url("../img/events/aaa.svg") no-repeat center 25% fixed;
}

