@media only screen and (max-width: 600px) {
  .owl-nav{
    font-size: 3rem;
  }

  .owl-prev{
    position: absolute;
    left: 0;
    top: 25%;
  }

  .owl-next{
    position: absolute;
    right:0;
    top: 25%;
  }
  #aaa{
    /*background-size: contain;*/
  }
}